<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Ionic SQL Encryption
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-list-header>DB Check</ion-list-header>
    <ion-item>
      <div>
        <div>Initialize DB</div>
        <ion-button (click)="storage.init()">Initialize DB</ion-button>
      </div>
    </ion-item>
    <ion-item>
      <div>
        <div>Insert Data</div>
        <ion-button (click)="demoInsert()">Insert</ion-button>
      </div>
    </ion-item>
    <ion-item>
      <div>
        <div>Insert Data</div>
        <ion-button (click)="demoGet()">Get Data</ion-button>
      </div>
      {{demoData | json}}
    </ion-item>
    <ion-item>
      <div>
        <div>Insert Data</div>
        <ion-button (click)="demoDelete()">Delete Data</ion-button>
      </div>
    </ion-item>
    <ion-item>
      <div>
        <div>Connect Database</div>
        <ion-button (click)="storage.connectDb()">Connect Database</ion-button>
      </div>
    </ion-item>
    <ion-item>
      <div>
        <div>Delete Database</div>
        <ion-button (click)="storage.deleteDatabase()">Delete All Database</ion-button>
      </div>
    </ion-item>
  </ion-list>

</ion-content>